<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <!--<li role="presentation"><a href="#">About</a></li>-->
        <!--<li role="presentation"><a href="#">Contact</a></li>-->
      </ul>
    </nav>
    <h3 class="text-muted">AppHooligan Ping Pong</h3>
  </div>

  <div class="jumbotron">
    <h1>Table Status<sup>*Beta</sup></h1>
    <%= current_state(@data_status) %>
    <h2>Raw Data Feed</h2>
    <% @data.each do |status| %>
    <p><strong><%= status.status %></strong> | <em><%= status.date_time %></em></p>
    <% end %>
  </div>

  <!--<script>-->
//      setTimeout(function(){
//          window.location.reload(1);
//      }, 2000);
  <!--</script>-->

  <footer class="footer">
    <p>&copy; Will Sizoo 2015</p>
  </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>